<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>editUser</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h2 text-center>แก้ไขข้อมูลผู้ใช้</h2>
    <form [formGroup]="dataUser" (ngSubmit)="log()">
        <ion-item [class.invalid]="submit && f.idUser.errors">
          <ion-label>รหัสผู้ใช้</ion-label>
          <ion-input placeholder="รหัสผู้ใช้" formControlName="idUser" readonly>
          </ion-input>
        </ion-item>
        <ion-item [class.invalid]="submit && f.nameUser.errors">
          <ion-label>ชื่อผู้ใช้</ion-label>
          <ion-input placeholder="ชื่อผู้ใช้" formControlName="nameUser">
          </ion-input>
        </ion-item>
        <ion-item [class.invalid]="submit && f.username.errors">
          <ion-label>Username</ion-label>
          <ion-input placeholder="Username" formControlName="username">
          </ion-input>
        </ion-item>
        <ion-item [class.invalid]="submit && f.password.errors">
          <ion-label>Password</ion-label>
          <ion-input placeholder="Password" formControlName="password">
          </ion-input>
        </ion-item>
        <ion-item [class.invalid]="submit && f.telUser.errors">
          <ion-label>เบอร์โทร</ion-label>
          <ion-input placeholder="เบอร์โทร" formControlName="telUser">
          </ion-input>
        </ion-item>
        <ion-item [class.invalid]="submit && f.levelUser.errors">
          <ion-label>Level</ion-label>
          <ion-input placeholder="Level" formControlName="levelUser">
          </ion-input>
        </ion-item>
        <ion-item [class.invalid]="submit && f.addressUser.errors">
          <ion-label>ที่อยู่</ion-label>
          <ion-input placeholder="ที่อยู่" formControlName="addressUser">
          </ion-input>
        </ion-item>
        <ion-button expand="full" type="submit">แก้ไขข้อมูล</ion-button>
      </form>
</ion-content>
