<ion-header>
  <ion-toolbar>
    <ion-title>editClear</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label>รหัสสินค้า</ion-label>
    <ion-input placeholder="รหัสสินค้า" readonly>
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label>ชื่อสินค้า</ion-label>
    <ion-input placeholder="รหัสสินค้า">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label>จำนวนนำเข้า</ion-label>
    <ion-input placeholder="รหัสสินค้า">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label>จำนวนขาย</ion-label>
    <ion-input placeholder="รหัสสินค้า" readonly>
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label>คงเหลือ</ion-label>
    <ion-input placeholder="รหัสสินค้า" readonly>
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label>สถานะ</ion-label>
    <ion-input placeholder="รหัสสินค้า" readonly>
    </ion-input>
  </ion-item>

  <ion-button expand="full" type="submit">แก้ไขสินค้า</ion-button>

</ion-content>