<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>

  <ion-item>
    <ion-label> ID </ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label> Password </ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

 
 <ion-button expand="block" (click)="gotodashborad()">Login</ion-button>
 

</ion-content>